body{
	background-color: #eee;


}
.container{
	background-color: white;
	margin-top: 5%;
	padding: 2em;
	margin-bottom: 5%;


}
h1{
  letter-spacing: .1em;
}

p#instructions{
	margin-top: -15px;
}


#gameboard{
  background-color: #eee;
  height: 800px;
  width: 600px;
  position: relative;

}



.piece{
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.ship{
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.obs {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0px;
  top: 0px;
}


#subtitle{
  margin-top: -1em;
  font-size: 18pt;
}



footer{
  text-align: center;
  background-color: white;
  height: 5em;
  padding: 1em;
}